{% extends "base.html" %}

{% block title %}
Home
{% endblock %}

{% block content %}
<div class="cover-container home-cover d-flex w-100 h-100 p-3 mx-auto flex-column">
    <main class="px-3 text-center">
        <div class="px-4">
            <h1 class="cover-heading">LASU News</h1>
            <p class="lead">Stay updated with the latest news and events from Lagos State University.</p>
            <p class="lead">
                <a href="{% url 'student:verify_matric_number' %}" class="btn btn-lg fw-bold border-white">Join Now</a>
            </p>
        </div>
    </main>
</div>
{% endblock %}
