{% extends "base.html" %}

{% load widget_tweaks %}
{% load custom_filters %}

{% block title %}Login{% endblock %}

{% block content %}
<div style="display: flex; justify-content: center; align-items: center; height: 100vh; margin: 0;">
    <div style="width: 50%; max-width: 400px; border: 1px solid #ddd; border-radius: 5px; padding: 20px;">
        <div style="border-bottom: 1px solid #ddd; padding-bottom: 10px; margin-bottom: 20px;">
            <h2>Login</h2>
        </div>
        <div>
            
            <form method="post">
                {% csrf_token %}
                <div style="margin-bottom: 15px;">
                    {{ form.username.label_tag }}
                    {{ form.username|add_class:"form-control" }}
                </div>
                <div style="margin-bottom: 15px;">
                    {{ form.password.label_tag }}
                    {{ form.password|add_class:"form-control" }}
                </div>
                <button type="submit" style="width: 100%; padding: 10px 0; background-color: #007bff; border: none; border-radius: 5px; color: white;">Login</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
