<!-- announcements/templates/announcements/announcement_list.html -->
{% extends "base.html" %}

{% block title %}
Announcements
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <!-- Main content column -->
        <div class="col-md-9 order-md-1 order-2">
            <h2>All Announcements</h2>
            {% for announcement in announcements %}
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">{{ announcement.title }}</h5>
                <p class="card-text">{{ announcement.content }}</p>
                {% if announcement.image %}
                    <img src="{{ announcement.image.url }}" class="img-fluid" alt="Announcement Image">
                {% endif %}
                {% if announcement.video %}
                    <video controls class="img-fluid">
                        <source src="{{ announcement.video.url }}" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                {% endif %}
                <p class="card-text"><small class="text-muted">By {{ announcement.author.username }}</small></p>
            </div>
        </div>
    {% endfor %}
        </div>

        <!-- Sidebar column -->
        <div class="col-md-3 order-md-2 order-1">
            <h4>Categories</h4>
            <ul class="list-group">
                {% for category in categories %}
                    <li class="list-group-item">
                        <a href="{% url 'news:category_news_list' category.id %}">{{ category.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
